.App {
  font-family: sans-serif;
  text-align: center;
}
.toolbar {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toolbarleft {
  display: flex;
  align-items: center;
}
.paper {
  background-color: yellow;
}
.left {
  background-color: yellow;
}
.content {
  padding: 15px 15px;
}

.iframe{
height:500px;
width:1100px;
}

.home{
  background-color:yellow;
}
.avatar-display{display:flex;
  justify-content: space-around;}
.footer{position:fixed;
bottom:10px;}
.icon{display:flex;
flex-wrap:wrap;
justify-content: space-between;
}
.avatar-display{display: flex;
  flex-wrap: wrap;
  justify-content: space-between;}