.area-display
       
  justify-content: center
  display: flex

.text
  padding-left: 20px
  padding-top: 20px
  padding-bottom: 20px
  text-align: right

.footer-text
     color:green  

.home 
     background-color:yellow     

